@use 'primeflex/primeflex.scss' as *;
@use '../breakpoints' as *;

.general-layout {
    @include styleclass('flex flex-column w-full h-full surface-ground');

    &-area {
        @include styleclass('w-full h-full flex')
    }

    &-menu {
        @include styleclass('w-25rem h-full flex justify-content-center align-items-center');

        .menu-container {
            @include styleclass('shadow-4');
        }
    }

    &-outlet {
        @include styleclass('w-full h-full');

        @include sm {
            padding: 2rem 2rem 2rem 0;
        }

        &-card {
            @include styleclass('w-full h-full bg-white overflow-hidden flex flex-column p-3');

            @include sm {
                border-radius: 40px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
            }

        }
    }

}